<template>
  <div>
    <Datepicker v-model="fecha" name="fecha" :language="locale"></Datepicker>
    <table>
      <select v-on:change="getAlumnos" v-model="idCurso" id="" name="">
        <option selected disabled value="">Seleccionar grupo</option>
        <option
          v-for="curso in cursos"
          :key="curso.id_curso"
          :value="curso.id_curso"
          >{{ curso.nombre_materia }} - {{ curso.nombre_periodo }}</option
        >
      </select>
      <tr>
        <th>Nombre</th>
        <th>Asistencia</th>
      </tr>
      <tr v-for="alumno in alumnos" :key="alumnos.indexOf(alumno)">
        <td>{{ alumno.nombre_completo }}</td>
        <td><input v-model="alumno.asistente" type="checkbox" /></td>
      </tr>
    </table>

    <button v-on:click="registrarAsistencia">Guardar</button>
  </div>
</template>

<script>
import axios from "axios";
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";

export default {
  data() {
    return {
      alumnos: [],
      cursos: [],
      idCurso: 1,
      fecha: new Date(),
      locale: es
    };
  },
  components: {
    Datepicker
  },
  methods: {
    getGrupos() {
      axios
        .post("/api/query", {
          query:
            "SELECT id_curso, id_maestro,nombre_materia, CONCAT(anio,periodo) as nombre_periodo FROM reporte_cursos INNER JOIN ciclo ON reporte_cursos.id_ciclo = ciclo.id_ciclo WHERE id_maestro = ?",
          values: [this.$root.$data.userData.id_maestro]
        })
        .then(res => {
          this.cursos = res.data.results;
        });
    },
    getAlumnos() {
      axios
        .post("/api/query", {
          query:
            "SELECT id_curso,vista_alumnos.id_alumno, CONCAT(nombres,' ',primer_apellido,' ',segundo_apellido) AS nombre_completo FROM curso_alumno INNER JOIN vista_alumnos on vista_alumnos.id_alumno = curso_alumno.id_alumno WHERE id_curso = ?",
          values: [this.idCurso]
        })
        .then(response => {
          response.data.results.forEach(alumno => {
            alumno.asistente = true;
          });

          this.alumnos = response.data.results;
          this.alumnos;
        });
    },
    registrarAsistencia() {
      this.alumnos.forEach(alumno => {
        axios
          .post("/api/query", {
            query:
              "INSERT INTO asistencia (id_curso, id_alumno, fecha, asistente) VALUES (?,?,?,?)",
            values: [
              this.idCurso,
              alumno.id_alumno,
              formatDate(this.fecha),
              alumno.asistente
            ]
          })
          .then(res => {
            res;
          });
      });

      alert("Registro de asistencia exitoso");
    }
  },
  created() {
    this.getGrupos();
    this.getAlumnos();
  }
};

const formatDate = date => {
  return date
    .toISOString()
    .slice(0, 19)
    .replace("T", " ");
};
</script>
