<template>
  <div>
    <h2>
      Crear grupo
    </h2>
    <label for="materia">Materia</label>
    <select id="" v-model="materiaSeleccionada" name="materia">
      <option selected disabled value="">Seleccionar materia</option>
      <option
        v-for="materia in materias"
        :key="materia.id_materia"
        :value="materia.id_materia"
        >{{ materia.nombre }}</option
      >
    </select>
    <label for="maestro">Maestro</label>
    <select id="maestro" v-model="maestroSeleccionado" name="">
      <option selected disabled value="">Seleccionar maestro</option>
      <option
        v-for="maestro in maestros"
        :key="maestro.clave"
        :value="maestro.id_maestro"
        >{{ maestro.nombre_completo }}</option
      >
    </select>
    <table>
      <tr>
        <th>Activo</th>
        <th>Día</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Aula</th>
      </tr>
      <tr v-for="dia in horario" :key="dia.id">
        <td><input type="checkbox" v-model="dia.activo" /></td>
        <td>{{ dia.nombre }}</td>
        <td>
          <select v-model="dia.horaInicio" id="" name="">
            <option
              v-for="hora in horas"
              :key="horas.indexOf(hora)"
              :value="hora"
              >{{ hora }}</option
            >
          </select>
        </td>
        <td>
          <select id="" name="" v-model="dia.horaFin">
            <option
              v-for="hora in horas"
              :key="horas.indexOf(hora)"
              :value="hora"
              >{{ hora }}</option
            >
          </select>
        </td>

        <td>
          <select v-model="dia.aula" id="" name="">
            <option selected disabled default value="">Seleccionar aula</option>
            <option
              v-for="aula in aulas"
              :key="aula.id_aula"
              :value="aula.id_aula"
              >{{ aula.nombre }}</option
            >
          </select>
        </td>
      </tr>
      <tr>
        <td><button v-on:click="crearGrupo">Crear grupo</button></td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios";
const horario = [
  {
    nombre: "Lunes",
    id: 1,
    val: "LUN",
    activo: false,
    horaInicio: "07:00",
    horaFin: "07:00",
    aula: 0
  },
  {
    nombre: "Martes",
    id: 2,
    val: "MAR",
    activo: false,
    horaInicio: "07:00",
    horaFin: "07:00",
    aula: 0
  },
  {
    nombre: "Miércoles",
    id: 3,
    val: "MIE",
    activo: false,
    horaInicio: "07:00",
    horaFin: "07:00",
    aula: 0
  },
  {
    nombre: "Jueves",
    id: 4,
    val: "JUE",
    activo: false,
    horaInicio: "07:00",
    horaFin: "07:00",
    aula: 0
  },
  {
    nombre: "Viernes",
    id: 5,
    val: "VIE",
    activo: false,
    horaInicio: "07:00",
    horaFin: "07:00",
    aula: 0
  },
  {
    nombre: "Sábado",
    id: 6,
    val: "SAB",
    activo: false,
    horaInicio: "07:00",
    horaFin: "07:00",
    aula: 0
  }
];

const horas = [
  "07:00",
  "07:30",
  "08:00",
  "08:30",
  "09:00",
  "09:30",
  "10:00",
  "10:30",
  "11:00",
  "11:30",
  "12:00",
  "12:30",
  "13:00",
  "13:30",
  "14:00",
  "14:30",
  "15:00",
  "15:30",
  "16:00",
  "16:30",
  "17:00",
  "17:30",
  "18:00",
  "18:30",
  "19:00",
  "19:30",
  "20:00",
  "20:30",
  "21:00"
];

export default {
  data() {
    return {
      horario,
      horas,
      maestros: null,
      materias: null,
      aulas: null,
      maestroSeleccionado: null,
      materiaSeleccionada: null
    };
  },
  created: function() {
    this.updateSelectors();
  },
  methods: {
    updateSelectors() {
      axios
        .post("/api/query", {
          query:
            "SELECT id_maestro, CONCAT(nombres,' ',primer_apellido, ' ',segundo_apellido) AS nombre_completo, clave FROM control_escolar.vista_maestros"
        })
        .then(response => {
          this.maestros = response.data.results;
        });

      axios
        .post("/api/query", {
          query: "SELECT * FROM control_escolar.materia"
        })
        .then(response => {
          this.materias = response.data.results;
        });
      axios
        .post("/api/query", {
          query:
            "SELECT id_aula, CONCAT(edificio, ' - ', nombre_aula) as nombre FROM control_escolar.aula"
        })
        .then(response => {
          this.aulas = response.data.results;
        });
    },

    getOrInsertHorario(horario, callback) {
      // Buscar un horario con la misma combinación de alula-hora-día
      // Si no existe, insertar y regresar el id. Si existe, solo regresar el id
      axios
        .post("/api/query", {
          query:
            "SELECT id_horario FROM control_escolar.horario WHERE id_aula=? AND hora_inicio=? AND hora_fin = ? AND dia = ?"
        })
        .then(response => {
          if (response.data.results[0]) {
            callback(response.data.results[0].horario_id);
          } else {
            axios
              .post("/api/query", {
                query:
                  "INSERT INTO control_escolar.horario (id_horario, id_aula, hora_inicio, hora_fin, dia) VALUES (0,?,?,?,?)",
                values: [
                  horario.aula,
                  horario.horaInicio,
                  horario.horaFin,
                  horario.val
                ]
              })
              .then(response => {
                callback(response.data.results.insertId);
              });
          }
        });
    },

    crearGrupo() {
      // Da de alta un curso en control_escolar.curso y lo relaciona con uno o muchos
      // horarios en control_escolar.curso_horario
      if (
        this.maestroSeleccionado === null ||
        this.materiaSeleccionada === null
      ) {
        console.log(this.maestroSeleccionado);
        console.log(this.materiaSeleccionada);
        alert("No se pueden dejar los valores de maestro y materia en blanco");
      } else {
        axios
          .post("/api/query", {
            query:
              "INSERT INTO control_escolar.curso (id_curso, id_ciclo, id_maestro, id_materia) VALUES (0, 0, ?, ?)",
            values: [this.maestroSeleccionado, this.materiaSeleccionada]
          })
          .then(response => {
            const idCurso = response.data.results.insertId;
            for (const h of this.horario) {
              if (h.activo) {
                this.getOrInsertHorario(h, idHorario => {
                  axios.post("/api/query", {
                    query:
                      "INSERT INTO control_escolar.curso_horario (id_curso, id_horario) VALUES (?, ?)",
                    values: [idCurso, idHorario]
                  });
                });
              }
            }

            alert("Curso registrado de manera exitosa");
          });
      }
    }
  }
};
</script>
