<template>
  <div>
    <table>
      <tr>
        <td><label for="nombre">Nombre de la asignatura</label></td>
      </tr>
      <tr>
        <td>
          <input
            name="nombre"
            placeholder="nombre"
            v-model="nombre"
            type="text"
          />
        </td>
      </tr>
      <tr>
        <td><label for="clave">Clave</label></td>
      </tr>
      <tr>
        <td>
          <input type="text" placeholder="clave" v-model="clave" name="clave" />
        </td>
      </tr>
      <tr>
        <td><label for="crd">Créditos</label></td>
      </tr>
      <tr>
        <td>
          <input min="3" v-model="creditos" placeholder="3" type="number" />
        </td>
      </tr>
      <tr>
        <td><button v-on:click="crearGrupo">Crear</button></td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: function() {
    return {
      creditos: 3,
      nombre: "",
      clave: ""
    };
  },
  methods: {
    crearGrupo: function() {
      let creditos = parseInt(this.creditos);
      axios
        .post("/api/query", {
          query: "INSERT INTO control_escolar.materia VALUES (0,?, ?, ?)",
          values: [this.clave, this.nombre, creditos]
        })
        .then(response => {
          console.log(response);
          if (!response.data.correct) {
            alert("Operación fallida");
            this.creditos = 3;
            this.nombre = "";
            this.clave = "";
          } else {
            alert("Operación exitosa");
          }
        });
    }
  }
};
</script>
