<template>
  <div>
    <pre>
        <b v-if="curso.nombre_completo_maestro">Profesor:</b>{{curso.nombre_completo_maestro}}
        <b>Materia:</b>{{curso.nombre_materia}}
        <b>Grupo:</b>{{curso.id_curso}}
    </pre>
    <Horario v-bind:horarios="horarios"></Horario>
  </div>
</template>
<script>
import Horario from "@/components/Horario";
import axios from "axios";

export default {
  components: { Horario },
  props: ["curso"],
  data: function() {
    return {
      horarios: []
    };
  },
  methods: {
    getData() {
      console.log(this.curso);
      axios
        .post("/api/query", {
          query:
            "SELECT * FROM reporte_horarios INNER JOIN curso_horario ON curso_horario.id_horario = reporte_horarios.id_horario WHERE curso_horario.id_curso = ?",
          values: this.curso.id_curso
        })
        .then(response => {
          this.horarios = response.data.results;
        });
    }
  },
  created() {
    this.getData();
  }
};
</script>
