<template>
  <div id="home">
    <h2>Bienvenido al sistema de control escolar</h2>
    <div v-if="!this.$root.$data.userType" class="input center">
      <table>
        <tr>
          <td><input v-model="user" type="text" placeholder="usuario" /></td>
        </tr>
        <tr>
          <td>
            <input
              v-model="password"
              type="password"
              placeholder="contraseña"
            />
          </td>
        </tr>
        <tr>
          <td>
            <select v-model="userType" id="" name="">
              <option value="ALUMNO">Alumno</option>
              <option value="ADMIN">Administrador</option>
              <option value="PROF">Profesor</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><button @click="validatePassword">Iniciar sesión</button></td>
        </tr>
      </table>
    </div>
    <div v-else class="center"></div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Home",
  data: function() {
    return {
      user: "",
      userType: "ALUMNO",
      password: ""
    };
  },
  methods: {
    validatePassword() {
      console.log("Validating password...");
      if (!this.password) {
        alert("La contraseña no puede estar vacía");
      } else if (!this.user) {
        alert("El usuario no puede estar vacío");
      } else {
        axios
          .post("/api/query", {
            query:
              "SELECT id_persona FROM control_escolar.persona WHERE clave = ? AND password_hash=SHA2(?,256)",
            values: [this.user, this.password]
          })
          .then(response => {
            if (response.data.results[0]) {
              let table = "";
              switch (this.userType) {
                case "ADMIN":
                  table = "administrador";
                  break;
                case "ALUMNO":
                  table = "alumno";
                  break;
                case "PROF":
                  table = "vista_maestros";
                  break;
              }
              let query = `SELECT * FROM ${table} WHERE id_persona = ?`;

              axios
                .post("/api/query", {
                  query,
                  values: [response.data.results[0].id_persona]
                })
                .then(res => {
                  if (res.data.results[0]) {
                    this.$root.$data.userType = this.userType;
                    this.$root.$data.userData = res.data.results[0];
                  } else {
                    alert("No posee permisos suficientes.");
                  }
                });
            } else {
              alert("Usuario o contraseña incorrecta");
            }
          });
      }
    }
  }
};
</script>

<style>
.input {
  display: table-cell;
  vertical-align: middle;
  padding-left: auto;
  padding-right: auto;
  height: 50px;
  width: 70px;
}
</style>
