<template>
  <table>
    <tr>
      <th>Día</th>
      <th>Hora Inicio</th>
      <th>Hora Fin</th>
      <th>Aula</th>
    </tr>
    <tr v-for="horario in horarios" :key="horarios.indexOf(horario)">
      <td>{{ horario.dia }}</td>
      <td>{{ horario.hora_inicio }}</td>
      <td>{{ horario.hora_fin }}</td>
      <td>{{ horario.nombre_aula }}</td>
    </tr>
  </table>
</template>

<script>
const horas = [
  "07:00:00",
  "07:30:00",
  "08:00:00",
  "08:30:00",
  "09:00:00",
  "09:30:00",
  "10:00:00",
  "10:30:00",
  "11:00:00",
  "11:30:00",
  "12:00:00",
  "12:30:00",
  "13:00:00",
  "13:30:00",
  "14:00:00",
  "14:30:00",
  "15:00:00",
  "15:30:00",
  "16:00:00",
  "16:30:00",
  "17:00:00",
  "17:30:00",
  "18:00:00",
  "18:30:00",
  "19:00:00",
  "19:30:00",
  "20:00:00",
  "20:30:00",
  "21:00:00"
];

const dias = ["LUN", "MAR", "MIE", "JUE", "VIE", "SAB"];

export default {
  data: function() {
    return {
      horas,
      dias
    };
  },
  props: ["horarios"]
};
</script>
