<template>
  <div>
    <h2>Inscribir alumno</h2>
    <table>
      <tr>
        <th>Curso</th>
        <th>Ciclo</th>
        <th>Profesor</th>
        <th>Créditos</th>
        <th>Seleccionar</th>
      </tr>
      <tr v-for="curso in cursos" :key="curso.id">
        <td>{{ curso.nombre_materia }}</td>
        <td>{{ curso.nombre_periodo }}</td>
        <td>{{ curso.nombre_completo_maestro }}</td>
        <td>{{ curso.num_creditos }}</td>
        <td>
          <input v-model="curso.activo" type="checkbox" />
        </td>
      </tr>
    </table>

    <button v-on:click="inscribir">Inscribir</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      cursos: []
    };
  },
  methods: {
    getCursos() {
      axios
        .post("/api/query", {
          query:
            "SELECT nombre_materia, nombre_completo_maestro, num_creditos, CONCAT(anio,periodo) AS nombre_periodo FROM reporte_cursos INNER JOIN ciclo on reporte_cursos.id_ciclo = ciclo.id_ciclo"
        })
        .then(response => {
          this.cursos = response.data.results;
        });
    },
    inscribir() {
      if (this.$root.$data.userData.id_alumno) {
        for (let i = 0; i < this.cursos.length; i++) {
          axios
            .post("/api/query", {
              query: "INSERT INTO curso_alumno VALUES (?,?)",
              values: [
                this.$root.$data.userData.id_alumno,
                this.cursos[i].id_curso
              ]
            })
            .then(() => {
              alert("Éxito");
            });
        }
      } else {
        alert("Error!");
      }
    }
  },
  created() {
    this.getCursos();
  }
};
</script>
