<template>
  <div>
    <table>
      <tr>
        <th>ID Curso</th>
        <th>Curso</th>
        <th>Profesor</th>
        <th>Ciclo</th>
        <th>Tipo de evaluación</th>
        <th>Calificación</th>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      evaluaciones: []
    };
  },
  methods: {
    getEvaluaciones() {
      axios
        .post("/api/query", {
          query: "SELECT * FROM reporte_kardex WHERE id_alumno = ?",
          values: [this.$root.$data.userData.id_alumno]
        })
        .then(response => {
          this.evaluaciones = response.data.results;
        });
    }
  }
};
</script>
