<template>
  <div>
    <h3>{{ curso.nombre_materia }}</h3>
    <b>{{ curso.nombre_ciclo }}</b>
    <table>
      <tr>
        <th>Clave</th>
        <th>Nombre</th>
      </tr>
      <tr v-for="alumno in alumnos" :key="alumnos.indexOf(alumno)">
        <td>{{ alumno.clave }}</td>
        <td>{{ alumno.nombre_completo }}</td>
      </tr>
    </table>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["curso"],
  data() {
    return {
      alumnos: []
    };
  },
  methods: {
    getAlumnos() {
      axios
        .post("/api/query", {
          query:
            "SELECT vista_alumnos.id_alumno,clave, CONCAT(nombres,' ',primer_apellido,' ', segundo_apellido) as nombre_completo FROM vista_alumnos INNER JOIN curso_alumno on curso_alumno.id_alumno = vista_alumnos.id_alumno WHERE id_curso = ?",
          values: [this.curso.id_curso]
        })
        .then(response => {
          this.alumnos = response.data.results;
        });
    }
  },
  created() {
    this.getAlumnos();
  }
};
</script>
