<template>
  <div>
    <table>
      <tr>
        <td>
          <input placeholder="Filtro por nombre" v-model="filtro" type="text" />
        </td>
      </tr>
      <tr>
        <td><button v-on:click="this.getCursos">Filtrar</button></td>
      </tr>
    </table>

    <div id="reporte-alumnos">
      <ListaAlumnos
        v-for="curso in cursos"
        :key="curso.id_curso"
        :curso="curso"
      ></ListaAlumnos>
    </div>
    <button v-on:click="generarPDF">Generar PDF</button>
  </div>
</template>
<script>
import ListaAlumnos from "@/components/ListaAlumnos";
import axios from "axios";
import html2pdf from "html2pdf.js";

export default {
  components: { ListaAlumnos },
  data() {
    return {
      cursos: [],
      filtro: ""
    };
  },
  methods: {
    getCursos() {
      axios
        .post("/api/query", {
          query: `SELECT nombre_materia, CONCAT(anio,periodo) as nombre_ciclo , id_curs FROM reporte_cursos INNER JOIN ciclo ON reporte_cursos.id_ciclo = ciclo.id_ciclo  WHERE id_maestro = ? AND nombre_materia LIKE '%${this.filtro}%'`,
          values: [this.$root.$data.userData.id_maestro]
        })
        .then(res => {
          this.cursos = res.data.results;
        });
    },
    generarPDF() {
      const element = document.getElementById("reporte-alumnos");
      html2pdf()
        .from(element)
        .save();
    }
  },
  created() {
    this.getCursos();
  }
};
</script>
