<template>
  <div>
    <h2>Registro de calificaciones</h2>
    <table>
      <label for="grupo">Grupo</label>
      <select v-model="idCurso" id="" name="grupo">
        <option selected disabled value="">Seleccionar grupo</option>
        <option
          v-for="grupo in grupos"
          :key="grupo.id_curso"
          :value="grupo.id_curso"
          >{{ grupo.nombre_materia }}</option
        >
      </select>
      <label for="evaluacion">Evaluación</label>
      <select v-model="tipoEvaluacion" id="" name="evaluacion">
        <option selected value="ORD">Ordinaria</option>
        <option value="EXT">Extraordinaria</option>
        <option value="TIT">Título de suficiencia</option>
      </select>
      <tr>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Calificación</th>
      </tr>
      <tr v-for="alumno in alumnos" :key="alumnos.indexOf(alumno)">
        <td>{{ alumno.clave }}</td>
        <td>{{ alumno.nombre_completo }}</td>
        <td>
          <input v-model="alumno.calificacion" placeholder="0.0" type="text" />
        </td>
      </tr>
    </table>

    <button v-on:click="registrarCalificaciones">Registrar</button>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      grupos: [],
      idCurso: 1,
      alumnos: [],
      tipoEvaluacion: "ORD"
    };
  },
  methods: {
    getGrupos() {
      axios
        .post("/api/query", {
          query:
            "SELECT id_curso, nombre_materia FROM reporte_cursos WHERE id_maestro = ?",
          values: [this.$root.$data.userData.id_maestro]
        })
        .then(response => {
          this.grupos = response.data.results;
        });
    },
    getAlumnos() {
      // Buscar alumnos sin derecho a examen
      axios
        .post("/api/query", {
          query:
            "SELECT clave, vista_alumnos.id_alumno, CONCAT(nombres, ' ', primer_apellido, ' ',segundo_apellido) as nombre_completo FROM curso_alumno INNER JOIN vista_alumnos ON vista_alumnos.id_alumno = curso_alumno.id_alumno WHERE id_curso = ?",
          values: [this.idCurso]
        })
        .then(response => {
          response.data.results.forEach(res => {
            res.calificacion = 0.0;
          });
          this.alumnos = response.data.results;
        });
    },
    registrarCalificaciones() {
      this.alumnos.forEach(alumno => {
        axios.post("/api/query", {
          query:
            "INSERT INTO evaluacion (id_alumno, id_curso, tipo,calificacion) VALUES (?,?,?,?)",
          values: [
            alumno.id_alumno,
            this.idCurso,
            this.tipoEvaluacion,
            alumno.calificacion
          ]
        });
      });
    }
  },
  created() {
    this.getGrupos();
    this.getAlumnos();
  }
};
</script>
