<template>
  <div>
    <table>
      <tr>
        <th>Filtro por materia</th>
        <th>Filtro por maestro</th>
      </tr>
      <tr>
        <td><input v-model="filtroNombreMateria" type="text" /></td>
        <td><input v-model="filtroNombreMaestro" type="text" /></td>
      </tr>
      <tr>
        <td><button v-on:click="getGrupos">Filtrar</button></td>
      </tr>
    </table>

    <div id="reporte-grupos">
      <Grupo
        v-for="grupo in grupos"
        v-bind:key="grupos.indexOf(grupo)"
        :curso="grupo"
      ></Grupo>
    </div>
    <button v-on:click="generarPDF">Exportar a pdf</button>
  </div>
</template>
<script>
import Grupo from "@/components/Grupo";
import axios from "axios";
import html2pdf from "html2pdf.js";
export default {
  data() {
    return {
      grupos: [],
      filtroNombreMateria: "",
      filtroNombreMaestro: ""
    };
  },
  components: { Grupo },
  methods: {
    getGrupos() {
      axios
        .post("/api/query", {
          query: `SELECT * FROM reporte_cursos WHERE nombre_materia LIKE '%${this.filtroNombreMateria}%' AND nombre_completo_maestro LIKE '%${this.filtroNombreMaestro}%'`
        })
        .then(response => {
          this.grupos = response.data.results;
        });
    },
    generarPDF() {
      const element = document.getElementById("reporte-grupos");
      html2pdf()
        .from(element)
        .save();
    }
  },
  created() {
    this.getGrupos();
  }
};
</script>
