<template>
  <div>
    <label for="ciclos">Seleccione un ciclo </label>
    <select v-model="ciclo" v-on:change="getCursos" id="" name="ciclos">
      <option
        v-for="ciclo in ciclos"
        :key="ciclo.id_ciclo"
        :value="ciclo.id_ciclo"
        >{{ ciclo.nombre_ciclo }}</option
      >
    </select>
    <table id="reporte-inscripciones" v-if="cursos">
      <tr>
        <th>ID Grupo</th>
        <th>Materia</th>
        <th>Profesor</th>
        <th>Créditos</th>
      </tr>
      <tr v-for="curso in cursos" v-bind:key="cursos.indexOf(curso)">
        <td>{{ curso.id_curso }}</td>
        <td>{{ curso.nombre_materia }}</td>
        <td>{{ curso.nombre_completo_maestro }}</td>
        <td>{{ curso.num_creditos }}</td>
      </tr>
    </table>

    <button v-on:click="generarPDF">Generar PDF</button>
  </div>
</template>

<script>
import axios from "axios";
import html2pdf from "html2pdf.js";
export default {
  data() {
    return {
      cursos: [],
      ciclo: 1,
      ciclos: []
    };
  },
  created() {
    this.getCiclos();
    this.getCursos();
  },
  methods: {
    getCursos() {
      if (this.$root.$data.userData.id_alumno) {
        axios
          .post("/api/query", {
            query:
              "SELECT * FROM reporte_cursos INNER JOIN curso_alumno WHERE id_alumno = ? AND id_ciclo = ?",
            values: [this.$root.$data.userData.id_alumno, this.ciclo]
          })
          .then(response => {
            this.cursos = response.data.results;
          });
      } else {
        alert("Error!");
      }
    },
    getCiclos() {
      axios
        .post("/api/query", {
          query:
            "SELECT id_ciclo, CONCAT(anio,periodo) AS nombre_ciclo FROM ciclo"
        })
        .then(response => {
          this.ciclos = response.data.results;
        });
    },
    generarPDF() {
      const element = document.getElementById("reporte-inscripciones");
      html2pdf()
        .from(element)
        .save();
    }
  }
};
</script>
