<template>
  <div id="reporte-asistencia">
    <h3>{{ curso.nombre_materia }}</h3>

    <table>
      <tr>
        <th>Fecha de inicio</th>
        <th>Fecha fin</th>
      </tr>
      <tr>
        <td>
          <Datepicker
            @input="this.getAsistencia"
            v-model="lower"
            :language="es"
          ></Datepicker>
        </td>
        <td>
          <Datepicker
            @input="this.getAsistencia"
            v-model="upper"
            :language="es"
          ></Datepicker>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Faltas</th>
      </tr>
      <tr v-for="alumno in alumnos" :key="alumno.alumno_id">
        <td>{{ alumno.clave }}</td>
        <td>{{ alumno.nombre_completo }}</td>
        <td>{{ alumno.faltas }}</td>
      </tr>
    </table>

    <button v-on:click="generarPDF">Generar PDF</button>
  </div>
</template>
<script>
import axios from "axios";
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import html2pdf from "html2pdf.js";

export default {
  data() {
    return {
      alumnos: [],
      lower: new Date("01/01/2021"),
      upper: new Date(),
      es
    };
  },
  components: { Datepicker },
  props: ["curso"],
  methods: {
    getAsistencia() {
      if (this.$root.$data.userData.id_maestro) {
        axios
          .post("/api/query", {
            query:
              "SELECT id_alumno, clave, id_curso, nombre_completo, SUM(asistente=0) as faltas FROM reporte_asistencia WHERE id_curso = ? AND fecha >= ? AND fecha <= ? GROUP BY id_alumno",
            values: [
              this.curso.id_curso,
              formatDate(this.lower),
              formatDate(this.upper)
            ]
          })
          .then(response => {
            this.alumnos = response.data.results;
          });
      }
    },

    generarPDF() {
      const element = document.getElementById("reporte-asistencia");

      html2pdf()
        .from(element)
        .save();
    }
  },
  created() {
    this.getAsistencia();
  }
};

const formatDate = date => {
  return date
    .toISOString()
    .slice(0, 19)
    .replace("T", " ");
};
</script>
