<template>
  <div>
    <div id="reporte-grupos-profesor">
      <h3>
        Grupos registrados para
        {{ this.$root.$data.userData.primer_apellido }},{{
          this.$root.$data.userData.nombres
        }}
      </h3>
      <Grupo
        v-for="grupo in grupos"
        :key="grupo.id_grupo"
        :curso="grupo"
      ></Grupo>
    </div>
    <button v-on:click="generarPDF">Generar PDF</button>
  </div>
</template>
<script>
import Grupo from "@/components/Grupo";
import axios from "axios";
import html2pdf from "html2pdf.js";
export default {
  data() {
    return {
      grupos: []
    };
  },
  components: { Grupo },
  methods: {
    getGrupos() {
      if (this.$root.$data.userData.id_maestro) {
        axios
          .post("/api/query", {
            query:
              "SELECT id_curso,nombre_materia,CONCAT(anio,periodo) AS nombre_periodo FROM reporte_cursos INNER JOIN ciclo ON ciclo.id_ciclo = reporte_cursos.id_ciclo WHERE id_maestro = ? ",
            values: [this.$root.$data.userData.id_maestro]
          })
          .then(response => {
            this.grupos = response.data.results;
          });
      } else {
        alert("Error!");
      }
    },
    generarPDF() {
      const element = document.getElementById("reporte-grupos-profesor");
      html2pdf()
        .from(element)
        .save();
    }
  },
  created() {
    this.getGrupos();
  }
};
</script>
