<template>
  <div>
    <ReporteAsistenciaGrupo
      v-for="curso in cursos"
      :key="cursos.indexOf(curso)"
      :curso="curso"
    ></ReporteAsistenciaGrupo>
  </div>
</template>
<script>
import axios from "axios";
import ReporteAsistenciaGrupo from "@/components/ReporteAsistenciaGrupo";
export default {
  data() {
    return {
      cursos: []
    };
  },
  components: { ReporteAsistenciaGrupo },
  methods: {
    getCursos() {
      axios
        .post("/api/query", {
          query:
            "SELECT nombre_materia, id_curso FROM reporte_cursos WHERE id_maestro = ?",
          values: [this.$root.$data.userData.id_maestro]
        })
        .then(response => {
          this.cursos = response.data.results;
        });
    }
  },
  created() {
    this.getCursos();
  }
};
</script>
