<template>
  <div v-if="this.$root.$data.userType" id="link-list" class="sidenav">
    <div v-if="this.$root.$data.userType === 'ADMIN'">
      <router-link to="crear-materia">Crear materias</router-link>
      <router-link to="crear-grupo">Crear grupos</router-link>
      <router-link to="">Alta de maestros</router-link>
      <router-link to="">Alta de alumnos</router-link>
      <router-link to="reporte-grupos">Reporte de grupos</router-link>
    </div>
    <div v-else-if="this.$root.$data.userType === 'PROF'">
      <router-link to="asistencia">Registro de asistencia</router-link>
      <router-link to="registro-calificaciones"
        >Registro de calificaciones</router-link
      >
      <router-link to="reporte-grupos-profesor">Reporte de grupos</router-link>
      <router-link to="reporte-asistencia-profesor"
        >Reporte de asistencias</router-link
      >
      <router-link to="lista-alumnos-profesor"
        >Lista de alumnos por curso</router-link
      >
    </div>
    <div v-else-if="this.$root.$data.userType === 'ALUMNO'">
      <router-link to="">Kardex de alumno</router-link>
      <router-link to="reporte-inscripciones"
        >Inscripción por ciclo</router-link
      >
      <router-link to="tira-de-materias"
        >Tira de materias de alumno</router-link
      >
      <router-link to="inscribir-alumno">Inscripción a cursos</router-link>
    </div>
  </div>
</template>
<script></script>
<style>
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-align: left;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #ffffff;
  background: #318181;
}
</style>
