<template>
  <div>
    <h2>Tira de materias por alumno</h2>

    <form action="">
      <label for="matricula">Matrícula del alumno</label>
      <input name="matricula" type="text" />

      <label for="periodo">Periodo</label>
      <select id="" name="">
        <option selected disabled value="">2017B</option>
      </select>
    </form>
    <div></div>
    <table>
      <tr>
        <td>Carlos Carral Cortés</td>
      </tr>
      <tr>
        <th>
          Nombre
        </th>
        <th>
          Maestro
        </th>
        <th>
          Créditos
        </th>
      </tr>

      <tr v-for="curso in tira" :key="curso.id">
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.maestro }}</td>
        <td>{{ curso.crd }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
const tira = [
  {
    id: 0,
    nombre: "Sistemas Gestores de bases de datos",
    crd: 6,
    maestro: "Javier Villanueva"
  },
  {
    id: 1,
    nombre: "Teoría de sistemas",
    crd: 7,
    maestro: "Silvia Edith Albarran Trujillo"
  },
  {
    id: 2,
    nombre: "Administración",
    crd: 5,
    maestro: "Silvia Edith Albarran Trujillo"
  }
];

export default {
  data() {
    return {
      tira
    };
  }
};
</script>
