<template>
  <div id="app">
    <img class="header-img " src="img/uaemex.jpg" alt="No encontrado" />
    <h1>Sistema de control escolar</h1>
    <SideNav></SideNav>
    <router-view class="center-column"></router-view>
  </div>
</template>

<script>
import SideNav from "@/components/SideNav";
export default {
  name: "App",
  components: { SideNav }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin-left: 200px;
  padding: 0px 10px;
}

.header-img {
  width: 150px;
  height: auto;
}

.center-column {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
</style>
